<nav>
  <ul style="display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    font-size: 21px;
    margin: 30px 0 30px 0;">
<!--    <li><a routerLink="/add-new-post" routerLinkActive="active" ariaCurrentWhenActive="page">Ajouter</a></li>-->
    <li><a routerLink="/get-all-post" routerLinkActive="active" ariaCurrentWhenActive="page">Editer/supprimer</a></li>
<!--    <li><a routerLink="/generate-post" routerLinkActive="active" ariaCurrentWhenActive="page">Créer</a></li>-->
<!--    <li><a routerLink="/asking-post" routerLinkActive="active" ariaCurrentWhenActive="page">Chercher</a></li>-->
    <li><a routerLink="/general-post" routerLinkActive="active" ariaCurrentWhenActive="page">Générer</a></li>
  </ul>
</nav>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>
