<div *ngIf="isLoading" class="loader">
  <!-- Vous pouvez utiliser une animation CSS ou une image pour le loader -->
  <p>Chargement...</p>
</div>


<section>
  <div>
    <input type="text" [(ngModel)]="url_post" placeholder="mettre le lien URL de l article ici." size="50" style="
    padding: 20px;
    font-size: 15px;
    width: 100%;">
  </div>
  <div>
    <button  (click)="process()" [disabled]="isLoading" style="
    padding: 20px;
    width: 100%;
    font-size: 22px;
    margin: 20px 0 0 0;
    background-color: aliceblue;">Clicker ici pour faire le résumé de l 'article.</button>
  </div>
</section>

<app-chronometre></app-chronometre>
<section *ngIf="postForm.valid" class="sidebar-page-container p_relative blog-classic pt_140">
  <div class="auto-container">
    <div class="row clearfix">
      <div class="col-lg-8 col-md-12 col-sm-12 content-side">
        <div id="containerPost" class="blog-classic-content p_relative d_block mr_20">
          <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
            <div class="blog-details-content p_relative d_block mr_20">
              <div class="blog-post">
                <div class="news-block-one">
                  <div class="inner-box p_relative d_block b_radius_5 bg_white mb_35">
                    <div class="lower-content p_relative d_block">
                      <!-- Date -->
                      <span class="post-date p_relative d_block fs_15 mb_2">
                        <p>Date formatée : {{ formatCurrentDateUs() }}</p>
                        <textarea formControlName="created_at" class="form-control">{{ postForm.get('created_at')?.value | date:'dd-MM-yyyy' }}</textarea>
                      </span>

                      <!-- Titre -->
                      <h2 class="p_relative d_block fs_30 lh_40 mb_2 fw_medium">
                        <textarea formControlName="titre" class="form-control"></textarea>
                      </h2>

                      <!-- Post Info -->
                      <ul class="post-info p_relative d_block mb_35 clearfix">
                        <li class="p_relative d_iblock float_left fs_15 mr_25">
                          <a aria-label="link on web site jardin iri jardinier bruxelles" href="#"
                             onclick="return false;" class="fw_medium hov_color" style="text-transform: capitalize;">
                            <textarea formControlName="categorie" class="form-control"></textarea>
                          </a>
                        </li>
                      </ul>

                      <!-- Description et Image -->
                      <div class="two-column p_relative d_block mb_40">
                        <div class="row clearfix">
                          <div class="col-lg-6 col-md-6 col-sm-12 text-column">
                            <div class="text">
                              <!-- Description meteo -->
                              <p class="fs_15 lh_26 mb_25">
                                <textarea formControlName="description_meteo" rows="5" class="form-control"></textarea>
                              </p>
                              <!-- Phrase Accroche -->
                              <ul class="list clearfix p_relative d_block mb_35">
                                <li class="p_relative d_block fs_15 lh_26 mb_8 pl_20 fw_medium">
                                  <textarea formControlName="phrase_accroche" rows="5" class="form-control"></textarea>
                                </li>
                              </ul>
                            </div>
                          </div>
                          <div class="col-lg-6 col-md-6 col-sm-12 image-column">
                            <figure class="image-box p_relative d_block b_radius_5 mt_8">
                              <img [src]="postForm.get('image_url')?.value" alt="Image preview">
                              <textarea formControlName="image_url" rows="3" class="form-control"
                                        placeholder="URL de l'image"></textarea>
                            </figure>
                          </div>
                        </div>
                      </div>


                      <!-- Article -->
                      <span (click)="switchIsCode($event)">switch</span>
                      <div *ngIf="isEditorTextON; else switchOffEditorText" class="fs_15 lh_26 mb_40 NgxEditor__Wrapper">
                        <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"> </ngx-editor-menu>
                        <ngx-editor
                          [editor]="editor"
                          formControlName="article"
                        ></ngx-editor>
                      </div>

                      <ng-template #switchOffEditorText>
                        <div class="fs_15 lh_26 mb_40">
                          <textarea formControlName="article" rows="40" class="form-control"></textarea>
                        </div>
                      </ng-template>


                      <!-- Lien vers article complet -->
                      <ul class="list clearfix p_rclassNameve d_block mb_35">
                        <li class="p_relative d_blocclassName15 lh_26 mb_8 pl_20 fw_medium">
                          <a [href]="postForm.get('lien_url_article')?.value" aria-label="lien vers article complet"
                             target="_blank" style="color: #28a745;">
                            Lien vers l'article complet.
                          </a>
                          <textarea formControlName="lien_url_article" class="form-control"
                                    placeholder="URL de l'article" rows="4"></textarea>
                        </li>
                      </ul>

                      <!-- Citation -->
                      <blockquote class="p_relative d_block mb_45 pt_40 pr_40 pb_40 pl_50 b_radius_5">
                        <div class="shape p_absolute"
                             style="background-image: url(assets/images/shape/shape-38.png);"></div>
                        <h4 class="d_block fs_20 lh_30 fw_medium mb_15">
                          <textarea formControlName="citation" class="form-control"></textarea>
                        </h4>
                      </blockquote>

                      <button  type="submit" class="btn btn-primary">Soumettre</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
